export ACCESS_TOKEN=GET_FROM_TRMNL
# Most new Waveshare are 2, older ones are 1 (SKU: 13504)
# For 7.5 inch B with Red, use "2B" (SKU: 13505)
export WAVESHARE_EPD75_VERSION=2
# You can set this to DEBUG for troubleshooting, otherwise leave it at INFO.
export LOG_LEVEL=DEBUG
